body{
    box-sizing: border-box;
}
.raw2{
    display: flex;
    justify-content: center;
}
.raw1{
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 5px;
    row-gap: 5px;
}
.raw{
    display: flex;
    flex-wrap: wrap;
    height: 205px;
    flex-direction: column;
    align-content: flex-start;
    column-gap: 5px;
    row-gap: 5px;
}
.haeder{
    border: black solid 1px;
    flex-basis: 45px;
    background: #e5f6af;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
}
.menu{
    border: black solid 1px;
    width: 80px;
    background: #fdb6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
    flex-basis: 203px;

}
.post{
    border: black solid 1px;
    width: 195px;
    background: #9ee1fe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 97px;

}
.footer{
    border: black solid 1px;
    background: #fdfdc9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45px;
    width: 280px;
}

